.App {
  text-align: center;
  justify-content: center;
  display: flex;
  min-height: 100vh;
  color: white;
  background: linear-gradient(45deg, white, rgb(35, 35, 73), rgb(86, 86, 244), gray, black);
}

.RegisterForm {
  max-width: 500px;
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

.auth-form-container {
  padding: 5rem;
  border: 3px solid black;
  border-radius: 10px;
  margin: 0.5rem;
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(86, 86, 244);
}

.link-button {
  background:  none;
  color: white;
  text-decoration: underline;
}